/* mise en page du fichier projet.html */

/* Typographie : caractères par défaut */
body
{
	font-family: Calibri, Helvetica, Optima, Arial, sans-serif;
	hyphens: auto;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	word-wrap: break-word;
}
#main-wrapper
{
	padding-left: 1%;
	padding-right: 1%;
	max-width: 600px;
	margin: auto;
}
#conclusion
{
	background-color: #FFFACD;
}